/Simple-Kafka/.vs
/Simple-Kafka/Output/Debug/*.pdb
/Simple-Kafka/Output/Debug/*.xml
/Simple-Kafka/Simple-Kafka-Producer/.vs
/Simple-Kafka/Simple-Kafka-Producer/obj/Debug/*.pdb
/Simple-Kafka/Simple-Kafka-Consumer/bin/Debug/*.xml
/Simple-Kafka/Simple-Kafka-Consumer/obj
/Simple-Kafka/Simple-Kafka-Producer/obj
